.card {
    background-color: #3f4f61;
    background-image: linear-gradient(315deg,#3f4f61 0%, #505472 74%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    width: 700px;
}

.avatar{
    border : 10px solid #212838;
    border-radius: 50%;
    margin-left: 245px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}


.user-info {
    color: white;
    margin-left: 2rem;

}

.user-info p {
    text-align: center;
}

.user-info h2 {
    text-align: center;
    margin-top: 0;
}

.user-info ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #212838;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem ;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    
}